@page "{id}"
@model TopLearn.Site.Pages.Admin.Roles.EditRoleModel
@using TopLearn.DataLayer.Entities.Permission
@{
    List<Permission> permissions = ViewData["Permissions"] as List<Permission>;
    List<int> selectedPermissions = ViewData["SelectedPermissions"] as List<int>;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">    ویرایش نقش "@Model.Role.RoleTitle"</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form method="post">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    اطلاعات
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <input type="hidden" asp-for="Role.RoleID" />
                    @*<input type="hidden" asp-for="Role.IsRemoved" />*@
                    <div class="form-group">
                        <label>نام نقش</label>
                        <input type="text" asp-for="Role.RoleTitle" class="form-control">
                    </div>

                    <div class="form-group">


                    </div>

                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    دسترسی ها
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <ul>
                            @foreach (var parent in permissions.Where(p => p.ParentID == null))
                            {
                                <li>
                                    <input type="checkbox" name="selectedPermissions" value="@parent.PermissionID" @((selectedPermissions.Any(p=>p==parent.PermissionID)?"checked":"")) /> @parent.PermissionTitle

                                    @if (permissions.Any(p => p.ParentID == parent.ParentID))
                                    {
                                        <ul>
                                            @foreach (var sub in permissions.Where(p => p.ParentID == parent.PermissionID))
                                            {
                                                <li>
                                                    <input type="checkbox" name="selectedPermissions" value="@sub.PermissionID" @((selectedPermissions.Any(p=>p==sub.PermissionID)?"checked":""))/> @sub.PermissionTitle

                                                    @if (permissions.Any(p => p.ParentID == sub.ParentID))
                                                    {
                                                        <ul>
                                                            @foreach (var sub2 in permissions.Where(p => p.ParentID == sub.PermissionID))
                                                            {
                                                                <li>
                                                                    <input type="checkbox" name="selectedPermissions" value="@sub2.PermissionID" @((selectedPermissions.Any(p=>p==sub2.PermissionID)?"checked":""))/> @sub2.PermissionTitle
                                                                </li>
                                                            }
                                                        </ul>
                                                    }



                                                </li>
                                            }
                                        </ul>

                                    }





                                </li>

                            }
                        </ul>
                </div>
                <!-- /.panel-body -->
            </div>

        </div>

    </form>
</div>
